.navbar-right(ng-controller="navBarLoginCtrl as login")
	form.navbar-form(ng-hide="login.identity.isAuthenticated()")
		.form-group
			input.form-control(placeholder="Email", ng-model="login.username")
		.form-group
			input.form-control(type="password", placeholder="Passpord", ng-model="login.password")
		button.btn.btn-primary(ng-click="login.signin()") Sign In
	ul.nav.navbar-nav.navbar-right(ng-show="login.identity.isAuthenticated()")
		li.dropdown
			a.dropdown-toggle(href="", data-toggle="dropdown")
				| {{login.identity.currentUser.firstName + " " + login.identity.currentUser.lastName}}
				b.caret
			ul.dropdown-menu
				li(ng-show="login.identity.currentUser.isAdmin()")
					a(href="/admin/users") User Admin
				li
					a(href="", ng-click="login.signout()") Sign Out