.container
	.jumbotron.text-center
		h1 Ashishapy
		p I am amused at technology. Let's take journey with me.
		
	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")